@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="orderInfoForm" >

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">

                            <#avatar id="pic" name="图片" underline="true"/>

                            <#input id="orderNum" name="订单号" underline="true"/>
                            <#input id="code" name="货号" underline="true"/>
                            <#input id="custom" name="客户" underline="true"  value="姓名/手机/微信号" />
                            <#input id="price" name="原价" underline="true"  />
                            <div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
                                <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
                                </div>
                            </div>
                </div>


                <div class="col-sm-6">
                            <#select id="source" name="来源" underline="true" >
                                <option value="3">普通</option>
                                <option value="2">微商城</option>
                                <option value="1">特价</option>
                            </#select>
                            <#select id="gathering" name="收款情况" underline="true" >
                                <option value="3">已收款</option>
                                <option value="5">垫款</option>
                                <option value="2">利润未收</option>
                                <option value="1">利润已收</option>
                                <option value="4">未收款</option>
                            </#select>
                            <#select id="status" name="状态" underline="true" >
                                <option value="1">待货</option>
                                <option value="2">已发货</option>
                                <option value="3">断货</option>
                                <option value="4">取消订单</option>
                                <option value="5">成交</option>
                                <option value="6">退货中</option>
                                <option value="7">已退货</option>
                                <option value="8">特殊处理</option>
                            </#select>
                            <#select id="refund" name="退款情况" underline="true" >
                                <option value="1">无</option>
                                <option value="2">已收退款</option>
                                <option value="3">未收退款</option>
                                <option value="4">退款完成</option>
                            </#select>
                            <#input id="waiting" name="待货时间" underline="true" value="-"/>
                            <#input id="post" name="快递费" underline="true" value="0"/>
                            <#input id="remark" name="备注"  value="-"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/order_info.js"></script>
@}
