@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" value="${item.id}" underline="true"/>
                            <#input id="userId" name="对应的用户id" value="${item.userId}" underline="true"/>
                            <#input id="pic" name="订单的衣服图片" value="${item.pic}" underline="true"/>
                            <#input id="orderNum" name="对应app的订单号" value="${item.orderNum}" underline="true"/>
                            <#input id="code" name="衣服货号" value="${item.code}" underline="true"/>
                            <#input id="price" name="原价" value="${item.price}" underline="true"/>
                            <#input id="disPrice" name="代理价" value="${item.disPrice}" underline="true"/>
                            <#input id="customId" name="关联的客户id" value="${item.customId}" underline="true"/>
                            <#input id="source" name="来源（1.特价 、2.微商城、3.普通）" value="${item.source}" underline="true"/>
                            <#input id="gathering" name="收款情况（1.利润已收、2.利润未收、3.已收款、4.未收款、5.垫款）" value="${item.gathering}" />
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="状态（1.待货、2.已发货、3.断货、4.取消订单、5.成交、6.退货中、7.已退货、8.特殊处理、9.删除）" value="${item.status}" underline="true"/>
                            <#input id="waiting" name="待货时间" value="${item.waiting}" underline="true"/>
                            <#input id="post" name="快递费" value="${item.post}" underline="true"/>
                            <#input id="opinion" name="上级意见" value="${item.opinion}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="refund" name="退款情况（1.无，2.已收退款，3.未收退款，4.退款完成）" value="${item.refund}" underline="true"/>
                            <#input id="progress" name="进度（0-100）" value="${item.progress}" underline="true"/>
                            <#input id="remind" name="提醒，用于后期扩展（微信提醒，短信提醒等）" value="${item.remind}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/order_info.js"></script>
@}
