<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Order">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="pic" property="pic" />
        <result column="orderNum" property="orderNum" />
        <result column="code" property="code" />
        <result column="price" property="price" />
        <result column="disPrice" property="disPrice" />
        <result column="customId" property="customId" />
        <result column="source" property="source" />
        <result column="gathering" property="gathering" />
        <result column="status" property="status" />
        <result column="waiting" property="waiting" />
        <result column="post" property="post" />
        <result column="opinion" property="opinion" />
        <result column="remark" property="remark" />
        <result column="refund" property="refund" />
        <result column="progress" property="progress" />
        <result column="remind" property="remind" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, pic, orderNum, code, price, disPrice, customId, source, gathering, status, waiting, post, opinion, remark, refund, progress, remind, createTime, updateTime
    </sql>

    <select id="selectListByCondition" resultType="map" parameterType="com.stylefeng.guns.modular.system.transfer.OrderDto">
        select
        o.id, o.userId, o.pic, o.orderNum, o.code, o.price, o.disPrice, o.customId, o.source, o.gathering, o.status, o.waiting, o.post, o.opinion, o.remark, o.refund, o.progress, o.remind, o.createTime, o.updateTime,
        c.name
        from guns.sys_order o  left join guns.custom c on o.customId=c.id
        where 1=1
        <if test="userId != null and userId != 0">
            and o.userId=#{userId}
        </if>
        <if test="orderNum != null and orderNum != '' ">
            and o.orderNum=#{orderNum}
        </if>
        <if test="code != null and code != '' ">
            and o.code=#{code}
        </if>
        <if test="customPhone != null and customPhone != '' ">
            and c.phone=#{customPhone}
        </if>
        <if test="source != null and source != 0 ">
            and o.source=#{source}
        </if>
        <if test="gathering != null and gathering != 0 ">
            and o.gathering=#{gathering}
        </if>
        <if test="status != null and status != 0 ">
            and o.status=#{status}
        </if>
        <if test="status == null or (status !=null and status ==0)  ">
            and o.status <![CDATA[!= ]]> 9
        </if>
        <if test="refund != null and refund != 0 ">
            and o.refund=#{refund}
        </if>
        <if test="progress != null and progress == 100 ">
            and o.progress=100
        </if>
        <if test="progress != null and progress != 100  and progress !=0 ">
            and o.progress <![CDATA[!= ]]> 100
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (createTime between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>

        ORDER BY  o.createTime  DESC

    </select>


</mapper>
